[submodule "_build/dependencies/WurstCore"]
	path = _build/dependencies/WurstCore
url=https://github.com/jlfarris91/WurstCore.git
[submodule "_build/dependencies/wurstStdlib2"]
	path = _build/dependencies/wurstStdlib2
	url = https://github.com/jlfarris91/WurstStdlib2