/**/bin/*
/**/obj/*
/**/.vs/*
/**/.vscode/*
/**/_ReSharper.Caches/*
/**/.suo/*
*.sln.DotSettings.user
*.user
*.pdb
*.j.txt

/_build/*
!/_build/blizzard.j
!/_build/common.j
build/listfile
temp/
wurst.build
/*.w3x
wurst/ProjectConstants.wurst
wurst/Spawning/SpawnRegionInit.wurst
Workspace.code-workspace
wurst_run.args

/maps/EmptyMap.w3x
/maps/Sandbox.w3x
/maps/TestMap.w3x
/maps/zoo.w3x
/maps/TheLastStand.w3x/*/

/wurst/Save/*
*.blend1
