/**/bin/*
/**/obj/*
/**/.vs/*
/**/.vscode/*
/**/_ReSharper.Caches/*
/**/.suo/*
*.sln.DotSettings.user
*.user
*.pdb
*.j.txt

/_build/*
!/_build/blizzard.j
!/_build/common.j
build/listfile
temp/
TheLastStand.w3x
wurst.build
