[submodule "src/tools/War3.Net"]
	path = src/tools/War3.Net
	url = https://github.com/jlfarris91/War3.Net.git
[submodule "_build/dependencies/WurstCore"]
	path = _build/dependencies/WurstCore
	url = D:\\Projects\\WarcraftIII\\TheLastStand\\_build\\dependencies\\WurstCore
