_build/dependencies
_build/objectEditingOutput
_build/blizzard.j
_build/common.j
_build/compiled.j.txt
wurst.dependencies
.vscode/settings.json
Resources/BLPConverter.exe
_build/tools/*
*.sln.DotSettings.user
*/.vs/*
/.vs/*
src/tools/SetMapBuildability/.vs/
src/tools/SetMapBuildability/_ReSharper.Caches/
*/obj/
src/tools/SetMapBuildability/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/tools/SetMapBuildability/obj/
