[submodule "src/tools/War3.Net"]
	path = src/tools/War3.Net
	url = https://github.com/jlfarris91/War3.Net.git
[submodule "WurstCore"]
	path = WurstCore
	url = D:\\Projects\\WarcraftIII\\TheLastStand\\_build\\dependencies\\WurstCore
[submodule "WurstLinq"]
	path = WurstLinq
	url = D:\\Projects\\WarcraftIII\\TheLastStand\\_build\\dependencies\\WurstLinq
